
.myinfo{
  float: left;
  -webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;
width: 300px;
height: 500px;
text-align: center;

}

form{
  margin-top: 30px;
    -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  width: 850px;
  height: 450px;
  text-align: center;

}
label{
  float: left;
  margin-left: 20px;
letter-spacing: 0.8px;
}

input{
  width: 650px;
  float: right;
  margin-right: 20px;
  padding: 8px;
  letter-spacing: 0.8px;
  font-size: 16px;
  /*
  border-radius: 5px; */
  border: 0;
  border-bottom: 2px solid orange;
}
input:focus{
  outline: none;
}

form button{
  float: right;
  margin-right: 40px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: orange;
  border: 0;
}

form button:hover{
  background-color: orange;
  color: white;
}
.s{
  float: left;
  border: 0;
  margin-left: 170px;
  padding: 5px;
  font-size: 16px;
  letter-spacing: 0.8px;
  /* border-radius: 5px; */
  border-bottom: 2px solid orange;
}
select:focus{
  outline: none;
}
